<%- include("partials/header"); -%>

    <div class="total">

        <div class="know">
            <!-- <img src="images/img/about/banner.png" alt="banner"> -->
            <div class="matter">
                <h1 class="kn">#KnowUs</h1>
                <p class="p">We started Rentit with the goal of revolutionizing the renting experience for both 
                    renters and landlords.We look forward to helping you find your dream home or 
                    manage your rental property with ease.</p>

            </div>
        </div>

        <div class="about">
            <div class="left">
                <img src="http://www.tanmayacomputer.com/asset/courseImages/about2.png">
            </div>
            <div class="right">
                <h1 class="heading">Who We Are?</h1>
                <p class="para">
                    When something is needed only temporarily, as in the case of a special 
                    tool, a truck or a skip. When something is needed that may or may 
                    not be already owned but is not in proximity for use, such as renting 
                    an automobile or bicycle when away on a trip. Renting often also becomes 
                    an alternate revenue pool for idle inventory vs. overly depending on a 
                    stagnant / slowing retailing business environment
                </p>

            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>